@tailwind base;
@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }
}
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: hsl(25, 75%, 97%);
  --font-color: hsl(300, 3%, 12%);
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --font-color:  hsl(25, 75%, 97%);
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-color: hsl(300, 3%, 12%);
  }
}

body {
  color: var(--font-color);
  background: var(--background-color);
  
  display: grid;
  overflow-y: hidden;
   /*
  align-items: center;
  align-content:flex-start;
  */
  min-height: 100dvh;
}